#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organize, always.
    %button= link_to "Enter" , new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Tousled pabst coloring book, truffaut skateboard viral synth air plant. Green juice chicharrones palo santo wayfarers, typewriter meh deep v artisan food truck single-origin coffee tbh unicorn godard. Direct trade schlitz ennui mumblecore flexitarian post-ironic. Chia beard freegan four loko neutra mixtape. Shaman glossier iPhone, raclette subway tile woke cray farm-to-table iceland actually. Tbh bitters actually, deep v bicycle rights chia hoodie fanny pack 90's raw denim distillery chicharrones man braid pinterest.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path